* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 1;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button span {
    font-size: 1.2em; /* Increase the font size */
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

#lock {
    background-image: image(url("icons/lock.png"));
    margin: 10px;
	border-radius: 20px;
}

#logout {
    background-image: image(url("icons/logout.png"));
    margin: 10px;
	border-radius: 20px;
}

#suspend {
    background-image: image(url("icons/suspend.png"));
    margin: 10px;
	border-radius: 20px;
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
    margin: 10px;
	border-radius: 20px;
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
    margin: 10px;
	border-radius: 20px;
}

#reboot {
    background-image: image(url("icons/reboot.png"));
    margin: 10px;
	border-radius: 20px;
}