@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);
@define-color text rgba(248, 249, 250, 1);

* {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
  background-color: @dark-9;
  color: @text;
}

#workspaces button {
  padding: 3px;
  margin: 7px 0px 7px 0px;
  background: transparent;
  border-radius: 2px;
  color: @text;
}

#workspaces button.active {
  background: @highlight;
  color: black;
  font-weight: 700;
}

#custom-appmenu{
  padding-left: 10px;
}

#submap,
#bluetooth,
#network,
#cpu,
#memory,
#volume {
  border-radius: 8px;
  padding: 0px 8px;
  background: @dark-8;
  margin: 5px 10px 5px 0px;
}

#submap,
#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}

tooltip {
  background: @dark-9;
  border-radius: 3px;
}

tooltip label {
  color: @text;
}
#group-system {
    background: @text;
    color: black;
    border-radius: 8px;
    padding: 5px 8px;
    margin: 5px 0px;
}



#modules-center,
#tray,
#pulseaudio,
#custom-notification,
#clock,
#taskbar,
#battery,
#custom-exit
{
 background:rgba(255, 255, 255, 0.25);
  color: @text;
  

  padding: 0px 12px 0px 9px;
  margin: 0px 4px;

  border-radius: 999px;   /* this makes it fully oval */
  border: 1px solid rgba(255, 255, 255, 0.25);   
}

